@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background: #00071E;
  background: linear-gradient(0deg, #8200a2 25%, #000 100%);   
  height: fit-content;
}

/* body{
  background: #00071E;
  height: fit-content;
} */